/* FONTS */
@font-face {
    font-family: "yeseva";
    src: url("../fonts/yeseva.ttf");
}

@font-face {
    font-family: "futura";
    src: url("../fonts/futura.ttf");
}

@font-face {
    font-family: "futura_light";
    src: url("../fonts/futura_light.ttf");
}

h1 {
    font-family: "yeseva", cursive;
    color: white;
}

h2 {
    font-family: "yeseva", cursive;
    color: black;
    font-size: 2.5em;
    margin: 35px 0 35px 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

h3, h4 {
    font-family: "futura", sans-serif;
    color: black;
    font-size: 1.8em;
    margin-top: 0;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: normal;
}

p {
    font-family: "futura", sans-serif;
    color: white;
}

button {
    font-family: "futura_light", sans-serif;
    color: white;
}

nav a {
    font-family: "futura", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100%;
    min-height: 90vh;
    margin-top: 10vh;
    position: relative;
}

#home {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
}

/* NAVIGATION */
#indexBurger,
#burger,
#navCross {
    display: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #73898F;
    z-index: 5;
    top: 0;
}

.indexNav {
    background-color: transparent;
}

nav a:first-child {
    width: 4%;
    height: auto;
    position: absolute;
    left: 4%;
    top: 34%;
    transition: 0.2s;
}

nav a:first-child:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

nav img {
    width: 100%;
    height: auto;
}

nav a:nth-child(4) {
    margin-right: 25%;
}

nav a:nth-child(2) {
    margin-left: 25%;
}

nav a:nth-child(3) {
    margin: 0 auto 0 auto;
}

nav a:not(:first-child):after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    padding-top: 2%;
    border-bottom: solid 2px white;
    transition: width .3s ease-in-out;
}

nav .current:after {
    width: 100% !important;
}

nav a:hover:after {
    width: 100%;
    transition: width .3s ease-in-out;
}

/* HOME */
#home {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home>img {
    width: 10%;
    margin-top: 25vh;
}

h1>img {
    width: 33vw;
    height: auto;
}

h1 {
    padding: 0;
    margin: auto 0 auto 0;
}

#home>a {
    margin-bottom: 25vh;
}

#button {
    background-color: transparent;
    border: 3px solid white;
    width: 13vw;
    height: 6vh;
    font-size: 1.6em;
    text-align: center;
    line-height: 6vh;
    padding: 0;
    font-family: "futura_light", sans-serif;
    color: white;
    text-decoration: none;
}

#button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

/* CONTACT */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact a {
    font-family: "futura", sans-serif;
    color: #73898F;
    font-size: 1.8em;
    transition: 0.2s;
}

#contact>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 6px solid black;
    padding-left: 5vw;
}

#contact>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27vw;
    min-width: 100%;
    margin-top: 50px;
}

#contact>div>div a:first-child {
    width: 5vw;
}

#contact>div>div a:nth-child(2) {
    width: 6vw;
}

#contact>div>div a:last-child {
    width: 5vw;
}

#contact>div>div img {
    width: 100%;
}

#contact>div>div a:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about>div {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    position: relative;
}

#about img {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

#about img:last-child {
    display: none;
}

#about>div>div {
    width: 50%;
    height: 100%;
    margin-right: 5%;
}

#about p {
    color: black;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.7;
    padding-left: 20px;
    border-left: 5px solid black;
}

#about>p {
    width: 50%;
    margin-top: 5%;
}

#about a {
    font-family: "futura", sans-serif;
    color: #73898F;
    font-size: 1.5em;
    margin-top: 3%;
}

#about h3 {
    text-align: left;
    margin-bottom: 10%;
    font-size: 1.7em;
}

/* GALLERY */
.galleryNav {
    position: fixed;
    z-index: 1;
    left: 4%;
    height: 50%;
    top: 25%;
    width: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.galleryNav a {
    display: block;
    width: 100%;
    transition: 0.2s;
}

.galleryNav li {
    width: 100%;
    height: auto;
    position: relative;
}

.galleryNav a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.galleryNav i {
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    left: 135%;
    width: 10px;
    height: 10px;
    border: solid 2px black;
    transform: rotate(45deg);
}

.gallerySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid red; */
}

.gallerySection:not(:first-of-type) {
    margin: 0;
}

#mediaViewer {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mediaViewer i {
    position: absolute;
    z-index: 6;
}

#mediaViewer i:first-child {
    width: 30px;
    top: 40px;
    right: 40px;
    transition: 0.1s;
}

#mediaViewer i:nth-child(2) {
    height: 30px;
    top: calc(50% - 25px);
    left: 40px;
    transition: 0.1s;
}

#mediaViewer i:nth-child(3) {
    height: 30px;
    top: calc(50% - 25px);
    right: 40px;
    transition: 0.1s;
}

#mediaViewer i:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s;
}

#mediaViewer>img,
#mediaViewer video {
    height: 70%;
    margin: 40px 0 0 0;
}

#mediaViewer i>img {
    height: 100%;
}

h4 {
    margin: 40px 0 0 0;
}

#audioPlaylists {
    width: 50%;
    margin-top: 9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#audioPlaylists h3 {
    font-size: 1.5em;
}

iframe {
    width: 100%;
    height: 40vh;
    margin-bottom: 9%;
    border: none;
}

.grid {
    width: 50%;
    height: 100% !important;
    margin-top: 9%;
    margin-left: 20px;
}

/* 8 colonnes */
.grid-sizer,
.grid-item {
    width: 20%;
}

.grid-item {
    height: 30%;
    float: left;
    overflow: hidden;
    padding: 5px;
    transition: 0.2s;
}

/* Différentes largeurs d'élements */
.grid-item--width2 {
    width: 30%;
}

.grid-item--width3 {
    width: 40%;
}

.grid-item--width4 {
    width: 25%;
}

.grid-item--width5 {
    width: 50%;
}

.grid-item--width6 {
    width: 60%;
}

.grid-item>img {
    display: block;
    width: 100%;
}

.grid-item:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* POLICE */
    h2 {
        font-size: 2.3em;
        margin: 40px 0 40px 0;
    }

    /* NAVIGATION */
    nav a:first-child {
        width: 5%;
    }

    /* HOME */
    #home>img {
        width: 12%;
        margin-top: 25vh;
    }

    h1>img {
        width: 45vw;
        height: auto;
    }

    h1 {
        padding: 0;
        margin: 7% 0 7% 0;
    }

    #home>a {
        margin-bottom: 25vh;
    }

    /* ABOUT */
    #about p {
        font-size: 0.9em;
        line-height: 1.6;
    }

    #about h3 {
        font-size: 1.5em;
    }

    #about a {
        font-size: 1.5em;
    }

    #about>div {
        width: 80vw;
    }

    /* GALLERY */
    .galleryNav {
        width: 5%;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {

    /* POLICE */
    h2 {
        font-size: 3em;
    }

    h3, h4 {
        font-size: 2.5em;
    }

    /* NAVIGATION */
    nav a {
        font-size: 1.5em;
    }

    nav a:first-child {
        width: 7%;
    }

    nav a:last-child {
        margin-right: 22%;
    }

    nav a:nth-child(2) {
        margin-left: 22%;
    }

    nav a:nth-child(3) {
        margin: 0 auto 0 auto;
    }

    /* HOME */
    #home>img {
        width: 15%;
        margin-top: 25vh;
    }

    h1 {
        padding: 0;
        margin: 10% 0 10% 0;
    }

    /* CONTACT */
    #contact a {
        font-size: 2.5em;
    }

    #contact>div>div a:first-child {
        width: 8vw;
    }

    #contact>div>div a:nth-child(2) {
        width: 10vw;
    }

    #contact>div>div a:last-child {
        width: 8vw;
    }

    /* ABOUT */
    #about p {
        font-size: 1.2em;
        line-height: 1.7;
    }

    #about h3 {
        font-size: 1.6em;
    }

    #about a {
        font-size: 1.6em;
    }

    #about>div {
        width: 75vw;
    }

    #about img {
        transform: translateX(40px);
    }

    #aboutImg {
        display: none;
    }

    #about img:last-child {
        display: block;
    }

    /* GALLERY */
    .galleryNav {
        height: 40%;
        width: 6%;
        left: 2%;
    }

    #mediaViewer>img,
    #mediaViewer video {
        height: 60%;
    }

    .grid {
        margin-top: 15%;
        width: 70%;
        transform: translateX(30px);
    }
}

@media screen and (max-width: 576px) {

    /* POLICE */
    /* NAVIGATION */
    .indexNav {
        background-color: black;
    }

    #indexBurger {
        display: block;
        position: fixed;
        top: 2%;
        left: 2%;
    }

    /* HOME */
}
